{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
	    <form method="POST" action="">
		    {{ form.hidden_tag() }}
		    <fieldset class="form-group">
			    <legend class = "border-bottom mb-4">  {{ title }} </legend>
			    <p><b><u>Instructions</u>:</b> </p>
				    <p>{% block instructions %}{% endblock instructions %} </p>
			    <hr>
			    <div class="form-group">
					{% for field in form %}
						{% if field.id != "submit" %}
							{{ field.label(class="form-control-label") }}
							{{ field(class="form-control form-control") }}
						{% endif %}
					{% endfor %}
			    </div>

		    </fieldset>
		    <div class="form-group">
			   {{ form.submit(class="btn btn-outline-info") }}
		    </div>

	    </form>
    </div>

{% endblock content %}